[submodule "MELD"]
	path = MELD
	url = https://github.com/declare-lab/MELD
[submodule "MUStARD"]
	path = MUStARD
	url = https://github.com/soujanyaporia/MUStARD
[submodule "M2H2-dataset"]
	path = M2H2-dataset
	url = https://github.com/declare-lab/M2H2-dataset
[submodule "BBFN"]
	path = BBFN
	url = https://github.com/declare-lab/BBFN
